:host {
    position: relative;
    display: flex;
    flex-direction: row;
}

.element {
    top: 0;
    left: 0;
    transition: .5s all linear;
    transition-delay: opacity 0;
    &-hidden {
        transition-delay: opacity 1s;
        opacity: 0;
    }
}